################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HorrorStoriesCamera/Debug/HorrorSt.E0C9C9E1.tlog
/HorrorStoriesCamera/Debug
*.vcxproj
*.filters
*.user
/Debug/HorrorStories.tlog
/Debug
/HorrorStories.opensdf
/HorrorStories.sdf
/HorrorStories.v12.suo
