################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HorrorStoriesCamera/Debug/HorrorSt.E0C9C9E1.tlog
/HorrorStoriesCamera/Debug
*.opensdf
*.sdf
*.sln
*.suo
*.vcxproj
*.filters
*.user
